<div class="menu-bar">

    <a href="/homes/index"><%= image_tag('SKED.png',alt: "", id: "skd") %></a>
    <div class="container">
      <form class="search-bar" role="search" action="/search">
          <input type="text" placeholder="Search" required pattern=".*\S+.*" title="Search field cannot be Blank" name="q">
          <button type="submit"><i class="fa fa-search" aria-hidden="true"></i>
  </button>
      </form>
       
       <% logged_user = User.find(session[:current_user_id]) %>
       <a id="usicb" class="ace" href="/signout">Logout</a>
      
        <i id="usicn" class='bx bx-user-pin' onclick="log()"></i>
      
       
       
        <b><label class="user-name"><%= logged_user["name"] %></label></b>

  </div>
      <ul>
        <li>
         <B> <a href="#">Features</a>  </B>
          <div class="sub-menu-1">
            <ul>
              <li><a href="/posts">Templates</a></li>
              <li><a href="#">Automation</a></li>
              <li><a href="/homes/views">Views</a></li>
            </ul>
          </div>
        </li>
        <li>
         <B> <a href="#">Solution</a>  </B>
               <div class="sub-menu-1">
                <ul>
                  <li><a href="/posts">Design</a></li>
                  <li><a href="/posts">Development</a></li>
                  <li><a href="/posts">Marketing</a></li>
                  <li><a href="/posts">Business</a></li>
                </ul>
                <li>
                 <B> <a href="#">Resources</a> </B>
                      <div class="sub-menu-1">
                        <ul>
                          <li><a href="#">Guide</a></li>
                        </ul>
                      </div>
            </div>
            
              </div>      
    </div>

<div class="src_dv">
<p id="ttl_src"> Titles : </p> 
<% @search.each do |search| %>

<p class="ttl_src" ><%= search.title %></p>
<hr>
</div>

<p id="temp_txt"> All Templates: </p>
<a href="/posts"><p id="tem_go"> Lets Go. . . </p></a>

<%= image_tag('search_img.webp',alt: "", id: "src-im") %>

<% end %>

<script>
 

  function log(){
    console.log("work")
    var log = document.getElementById("usicn");
  var log_a = document.getElementById("usicb");
  log_a.classList.toggle("acea")

  }
</script>