

i#usicn{
    cursor: pointer;
}
.ace{
    margin-top: 20px;
    background-color: #56df544b;
    padding: 2px 5px;
    font-size: 20px;
    right: -40%;
    position: absolute;
    display: none;
    color: black;
}
.acea{
    display: block;
}
