// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


*{
    margin: 0;
    padding: 0;
}

.frm_pst{
    margin-left: 600px;
    margin-top: 100px;
    position: absolute;
}



