<form action="/default_images" method="post" enctype="multipart/form-data" id="hlo">
            <input name="authenticity_token" type="hidden" value=" <%= form_authenticity_token %>">
            <input type="string" name="value">
            <input type="file" name="default_image">
            <button type="submit">Submit</button>
</form>



